body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.movie-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;        
    justify-content: center; 
    max-width: 1000px;       
    margin: 0 auto;         
    padding-bottom: 20px;
}

.movie-card {
    background: #222;
    width: 330px;            
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05); 
}

.movie-poster {
    width: 100%;
    height: 350px;
    background-color: #444;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.movie-info {
    padding: 10px;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
}

.movie-rating {
    color: gold;
    margin: 5px 0;
}

.movie-description {
    font-size: 14px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
